/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
html {
  background: linear-gradient(to bottom, #6699ff 0%, #99ff66 100%);
}
.wrap-all {
  width: 900px;
  margin: 0 auto;
  background-color: aliceblue;
}
.large {
  display: none;
}
.footer-column {
  width: 33%;
  max-width: inherit;
  float: left;
}
.region-navbar {
  display: inline;
  float: left;
  width: auto;
  padding: 0.5em 1em;
  font-size: 22px;
}
.site-logo {
  display: none;
}
.site-logo-text {
  display: none;
}
.region-header-col-2 {
  display: inline;
  width: auto;
  padding: 0.5em 1em;
  font-size: 22px;
  float: left;
  list-style-type: none;
  text-decoration: none;
  overflow: hidden;
}
.region-header-col-2 li {
  list-style: none;
  text-decoration: none;
  background-color: #009899;
  padding: 15px 15px 15px 15px;
  overflow: hidden;
  display: inline-block;
}
.region-header-col-2 a {
  text-decoration: none;
  font-family: "arial black", sans-serif;
  color: pink;
}
.region-footer {
  background-color: #009899;
  color: pink;
  margin: 0;
}
.article {
  background-color: aliceblue;
  text-align: center;
  font-size: 15px;
  font-family: arial, sans-serif;
}
.article h1 {
  text-align: center;
  font-family: "arial black", sans-serif;
  margin-right: 100px;
}
.article img {
  align-items: center;
}
.site-byline {
  background-color: pink;
  display: inline-block;
  font-size: 14px;
  padding: 1em;
  color: #009899;
  border-top: 1px;
  overflow: auto;
}
.next-previous a {
  display: none;
  color: pink;
  text-decoration: none;
  font-family: arial, sans-serif;
  background-color: #009899;
  display: inline block;
}
.breadcrumb-list {
  display: inline;
  float: left;
  width: auto;
  padding: 0.5em 1em;
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
  overflow: hidden;
  padding: 2em;
}
.breadcrumb-list li {
  display: none;
}
.breadcrumb-list a {
  text-decoration: none;
}
.block.toc {
  list-style: none;
  float: right;
  display: inline-flex;
  margin: 15px;
  background-color: #e4c7a7;
  color: #c4153e;
  max-width: 900px;
}
.block.toc h4:first-child {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 30px;
  padding: 10px;
  font-style: arial, sans-serif;
}
.block.toc h4 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 40px;
  padding: 10px;
  font-style: arial, sans-serif;
}
.toc li {
  list-style: none;
  display: inline-block;
  padding: 1em;
  margin: 15px;
}
.toc a {
  text-decoration: none;
  color: #e4c7a7;
  background-color: #c4153e;
  padding: 10px;
}
.code {
  max-width: 900px;
  font-style: tahoma, sans-serif;
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  font-style: serif;
}
body {
  font-style: serif;
}
h1 {
  padding: 10px;
  max-width: 100%;
  margin: 0;
}
h3 {
  max-width: 100%;
}
img {
  max-width: 100%;
}
p {
  padding: 10px;
  max-width: 100%;
  margin: 0;
}
article {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
/* .rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02
.rm-navbar-max {
  display: none;
}
*/
/* .wrap-all {
  width: 900px;
  margin: 0 auto;
  background-color: aliceblue;
}
.large {
  display: none;
}
*/
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .rm-desktop {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
