/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
html {
    background: linear-gradient(to bottom, #6699ff 0%, #99ff66 100%);
}
/* Hide submenu, leave this to kmom02 */

.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

.wrap-all {
    width: 900px;
    margin: 0 auto;
    background-color: aliceblue;
}

.large {
    display: none;
}

.footer-column {
    width: 33%;
    max-width: inherit;
    float: left;
}

.region-navbar {
    display: inline;
    float: left;
    width: auto;
    padding: 0.5em 1em;
    font-size: 22px;
}

.site-logo {
    display: none;
}

.site-logo-text {
    display: none;
}

.region-header-col-2 {
    display: inline;
    float: left;
    width: auto;
    padding: 0.5em 1em;
    font-size: 22px;
    float: left;
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
}

.region-header-col-2 li {
    list-style: none;
    text-decoration: none;
    background-color:#009899;
    padding: 15px 15px 15px 15px;
    overflow: hidden;
    display: inline-block;
}

.region-header-col-2 a {
    text-decoration: none;
    font-family: "arial black", sans-serif;
    color: pink;
}

.region-footer {
    background-color: #009899;
    color: pink;
    margin: 0;
}

.article {
    background-color: aliceblue;
    text-align: center;
    font-size: 15px;
    font-family: arial, sans-serif;
}

.article h1 {
    text-align: center;
    font-family: "arial black", sans-serif;
    margin-right: 100px;
}

.article img {
    align-items: center;
}

.site-byline {
    background-color: pink;
    display: inline-block;
    font-size: 14px;
    padding: 1em;
    color: #009899;
    border-top: 1px;
    overflow: auto;
}

.next-previous a {
    display: none;
    color: pink;
    text-decoration: none;
    font-family: arial, sans-serif;
    background-color: #009899;
    display: inline block;
}

.breadcrumb-list {
    display: inline;
    float: left;
    width: auto;
    padding: 0.5em 1em;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
    padding: 2em;
}

.breadcrumb-list li {
    display: none;
}

.breadcrumb-list a {
    text-decoration: none;
}

.block.toc {
    list-style: none;
    float: right;
    display: inline-flex;
    margin: 15px;
    background-color: #e4c7a7;
    color: #c4153e;
    max-width: 900px;
}

.block.toc h4:first-child {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 30px;
    padding: 10px;
    font-style: arial, sans-serif;
}

.block.toc h4 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 40px;
    padding: 10px;
    font-style: arial, sans-serif;
}

.toc li {
    list-style: none;
    display: inline-block;
    padding: 1em;
    margin: 15px;
}

.toc a {
    text-decoration: none;
    color: #e4c7a7;
    background-color: #c4153e;
    padding: 10px;
}

.code {
    max-width: 900px;
    font-style: tahoma, sans-serif;
}
